.main-banner

  = image_tag "illustration.png", class: 'image'
  = image_tag "illustration.png", class: 'image'
  = image_tag "header-bg.png", class: 'image'

  .banner-texts
    .title oni
    .title janoras

  .banner-bottom
    = image_tag "sky-bg.png", class: 'image'
    = image_tag "heart.png", class: 'image'

    .container.links
      = render "shared/nav"

  