.main-banner
  = image_tag "illustration.png", class: 'image'
  = image_tag "illustration.png", class: 'image'
  = image_tag "header-bg.png", class: 'image'

  .banner-texts
    .title oni
    .title janoras

  .banner-bottom
    = image_tag "sky-bg.png", class: 'image'
    = image_tag "heart.png", class: 'image'

  .links
    / = render "shared/nav"

    =link_to '', class: 'behance-btn pulse-fx',href: "https://www.behance.net/oznai01", target: "_blank" do
      =image_tag 'behance-logo.png', class: 'icon'

    %p Click Here to view Projects

    .container.intro
      %p It is a method of influencing people to think about what they see more deeply.
      %p Fascinated by the wanders of which is not seen by the naked eye. By means of concise communication,
      %p understanding and vision, we share who we are.