.main-banner
  = image_tag "illustration.png", class: 'image'
  = image_tag "illustration.png", class: 'image'
  = image_tag "header-bg.png", class: 'image'

  .banner-texts
    .title oni
    .title janoras

  .banner-bottom
    = image_tag "sky-bg.png", class: 'image'
    = image_tag "heart.png", class: 'image'

  .links
    = render "shared/nav"

    .container.intro It is a method of influencing people to think about what they see more deeply. Fascinated by the wanders of which is not seen by the naked eye. By means of concise communication understanding and vision, we share who we are.